<div class="card">
  <div class="card-header">
    Employment Information Section
  </div>
  <div class="card-body" style="width: 23rem;" *ngIf="!SecEdit">
    <div>
      <p class="card-text">Title</p>
      <h5 class="card-title">{{formData.controls['title'].value}}</h5>
    </div>
    <div>
      <p class="card-text">Employment Start Date</p>
      <h5 class="card-title">{{formData.controls['startDate'].value}}</h5>
    </div>
    <div>
      <p class="card-text">Employment End Date</p>
      <h5 class="card-title">{{formData.controls['endDate'].value}}</h5>
    </div>
    <div>
      <p class="card-text">Car</p>
      <h5 class="card-title">{{formData.controls['car'].value}}</h5>
    </div>
    <div>
      <p class="card-text">Visa Start Date</p>
      <h5 class="card-title">{{formData.controls['visaStartDate'].value}}</h5>
    </div>
    <div>
      <p class="card-text">Visa End Date</p>
      <h5 class="card-title">{{formData.controls['visaEndDate'].value}}</h5>
    </div>
    <div>
      <p class="card-text">Driver License</p>
      <h5 class="card-title">{{formData.controls['driverLicense'].value}}</h5>
    </div>
    <div>
      <p class="card-text">Driver License Expire Date</p>
      <h5 class="card-title">{{formData.controls['driverLicenseExpDate'].value}}</h5>
    </div>
    <button type="button" class="btn btn-primary" (click)="startEdit()">Edit</button>
  </div>
  <div class="card-body" style="width: 23rem;" *ngIf="SecEdit">
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <p class="card-text">Title</p>
        <input type = 'text' formControlName="title">
      </div>
      <div class="form-group">
        <p class="card-text">Employment Start Date</p>
        <input type = 'text' formControlName="startDate">
      </div>
      <div class="form-group">
        <p class="card-text">Employment End Date</p>
        <input type = 'text' formControlName="endDate">
      </div>
      <div class="form-group">
        <p class="card-text">Car</p>
        <input type = 'text' formControlName="car">
      </div>
      <div class="form-group">
        <p class="card-text">Visa Start Date</p>
        <input type = 'text' formControlName="visaStartDate">
      </div>
      <div class="form-group">
        <p class="card-text">Visa End Date</p>
        <input type = 'text' formControlName="visaEndDate">
      </div>
      <div class="form-group">
        <p class="card-text">Driver License</p>
        <input type = 'text' formControlName="driverLicense">
      </div>
      <div class="form-group">
        <p class="card-text">Driver License Expire Date</p>
        <input type = 'text' formControlName="driverLicenseExpDate">
      </div>
      <button type="button" class="btn btn-primary" (click)="endEdit()">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
