<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/employee/home" routerLinkActive="active">Home</a>
    <a class="nav-item nav-link" routerLink="/employee/user-info" routerLinkActive="active">Personal Information</a>
    <a class="nav-item nav-link" routerLink="/employee/visa" routerLinkActive="active">Visa Status Manage</a>
    <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Housing</a>
  </div>
</nav>
