  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="navbar-brand" href="#">EmployeeSoft</a>
      <div *ngIf="user">
        <a class="nav-item nav-link" routerLink="/employee/home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/employee/personal" routerLinkActive="active">Personal Information</a>
        <a class="nav-item nav-link" routerLink="/employee/visa" routerLinkActive="active">Visa Status Manage</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>
