# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\EmployeeSoft\EmployeeSoft\Backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
