<div class="card">
  <div class="card-header">
    Address Section
  </div>
  <div class="card-body" style="width: 23rem;" *ngIf="!addressSecEdit">
    <div>
      <p class="card-text">Address Line 1</p>
      <h5 class="card-title">{{formData.controls['address_line_1'].value}}</h5>
    </div>
    <div>
      <p class="card-text">Address Line 2</p>
      <h5 class="card-title">{{formData.controls['address_line_2'].value}}</h5>
    </div>
    <div>
      <p class="card-text">City</p>
      <h5 class="card-title">{{formData.controls['city'].value}}</h5>
    </div>
    <div>
      <p class="card-text">Zipcode</p>
      <h5 class="card-title">{{formData.controls['zipcode'].value}}</h5>
    </div>
    <div>
      <p class="card-text">State Name</p>
      <h5 class="card-title">{{formData.controls['state_name'].value}}</h5>
    </div>
    <div>
      <p class="card-text">State Abbreviation</p>
      <h5 class="card-title">{{formData.controls['state_abbr'].value}}</h5>
    </div>
    <button type="button" class="btn btn-primary" (click)="startEdit()">Edit</button>
  </div>
  <div class="card-body" style="width: 23rem;" *ngIf="addressSecEdit">
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <p class="card-text">Address</p>
        <input type = 'text' formControlName="address_line_1">
      </div>
      <div class="form-group">
        <p class="card-text">Address Line 2</p>
        <input type = 'text' formControlName="address_line_2">
      </div>
      <div class="form-group">
        <p class="card-text">Zipcode</p>
        <input type = 'text' formControlName="city">
      </div>
      <div class="form-group">
        <p class="card-text">City</p>
        <input type = 'text' formControlName="zipcode">
      </div>
      <div class="form-group">
        <p class="card-text">State</p>
        <input type = 'text' formControlName="state_name">
      </div>
      <div class="form-group">
        <p class="card-text">State Abbreviation</p>
        <input type = 'text' formControlName="state_abbr">
      </div>
      <button type="button" class="btn btn-primary" (click)="endEdit()">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
